<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "C:\Users\Queenie\Downloads\testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SmartTechTest">
  <classes>
  <class name="com.runner.SmartTechRunner"></class>
  </classes>
  </test> <!-- SmartTechTest -->
</suite> <!-- Suite -->
